<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzPSPP_o7YV43kZP5dp07RBOHeXLgiXPA</string>
	<key>GCM_SENDER_ID</key>
	<string>773979056230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giftex</string>
	<key>PROJECT_ID</key>
	<string>giftex-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>giftex-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773979056230:ios:298275f83d6b442c4f25a7</string>
	<key>DATABASE_URL</key>
	<string>https://giftex-uat-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>